.share-modal {
  position: absolute; /* Absolute positioning relative to the nearest positioned ancestor */
  top: 100%; /* Align it below the button */
  right: 0; /* Align it to the right of the button */
  background: #fff;
  width: 400px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 24px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px rgba(108, 92, 231, 0.2);

  .share-modal-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .share-modal-title {
      font-size: 18px;
      font-weight: 590;
    }

    .share-separator {
      width: 1px;
      height: 12px;
      background-color: rgba(0, 0, 0, 0.12);
    }

    .share-doc-title {
      font-size: 14px;
      font-weight: 400;
      display: flex;
      align-items: center;

      div:first-child {
        display: flex;
      }
    }
  }

  .share-modal-body {
    padding-top: 0;

    #collaborator-email {
      border-radius: 10px;
    }
  }

  .share-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .share-button-modal {
      background-color: white;
      color: rgb(26, 26, 26);
      border: none;
      border-radius: 8px;
      padding: 8px 12px;
      font-size: 16px;
      cursor: pointer;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 8px;
      border: 1px solid rgba(0, 0, 0, 0.08);
    }

    .share-button-modal:hover {
      background-color: rgba(0, 0, 0, 0.06);
    }
  }
}
