.editor-section #scrte-editor > div > a {
  display: none !important;
}

.dont-show-rte-toolbar #scrte-editor #scrte-toolbar {
  display: none !important;
}

.sub-heading {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editor-section #scrte-editor #scrte-toolbar {
  background-color: transparent;
  border: none;
  position: relative;

  /* New styles to place toolbar on header */
  position: fixed;
  z-index: 10 !important;
  top: 65px;
}

.editor-section #scrte-editor #scrte-toolbar .toolbar-parent {
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.editor-container {
  font-family: Arial, sans-serif;
  padding: 16px;
}

.title-input {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.title-input input:disabled {
  background-color: white;
}

.editable-title {
  font-size: 40px;
  font-weight: bold;
  border: none;
  outline: none;
  width: auto;
}

.editable-title::placeholder {
  color: #aaa;
}

.author-details {
  font-size: 14px;
  color: #5c5c5c;
  display: flex !important;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.2px;
}

.last-updated-details {
  margin-top: auto;
  margin-bottom: 16px;
}
.last-updated-details p {
  font-size: 12px;
  color: rgb(92, 92, 92);
  font-weight: 500;
  line-height: 16px;
  opacity: 0.8;
}

/* Add this CSS for the loading dots animation */
@keyframes dotAnimation2 {
  0% {
    content: "Adding.";
  }
  33% {
    content: "Adding..";
  }
  66% {
    content: "Adding...";
  }
  100% {
    content: "Adding.";
  }
}

.editor-section .custom-gradient-button-loading:after {
  content: "Adding";
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  animation: dotAnimation2 1.5s infinite steps(1);
  margin-left: 24px;
}

.title-input-stack-view {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 18px;
}

.editor-back-button {
  margin-left: -18px;
}

.editor-section {
  #scroller {
    border: none !important;

    .editor-resize + svg {
      display: none !important;
    }
  }
}
.editor-full #scroller {
  min-height: calc(100vh - 420px);
  border: none !important;

  .scrte-editable {
    min-height: calc(100vh - 420px);
  }

  .editor-resize + svg {
    display: none !important;
  }
}

/* ---------- For full page level editor ---------- */

.PageLayout__body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#scrte-editable {
  flex: 1; /* Allow the child to grow/shrink with the parent */
  overflow: hidden; /* No scroll here */
  position: relative;
}

.PageLayout__body__container,
.editor-container,
.editor-section,
.editor-full {
  height: 100%; /* Ensure they propagate the height */
  overflow: visible; /* Allow overflow to pass through */
}

#scrte-editable {
  height: auto; /* Let it grow to fit its content */
  min-height: 100%; /* Ensure at least 100% height */
  overflow: visible; /* Avoid clipping content */
}