.editor-footer {
  display: flex;
  justify-content: end;
}

.editor-page-layout .PageHeader {
  margin-top: 0.5rem;
}

.editor-page-layout .PageTitleWrapper {
  margin-left: 0.75rem;
  width: 100%;
}

.editor-page-layout .PageTitle {
  width: 100%;
}

.editor-heading {
  display: flex;
  justify-content: space-between;

  /* .Button__group {
    margin-right: 10px;
  } */
}

.dropdown-label{
  padding: 0.5rem;
  /* color: #6c5ce7 !important; */
  padding: 0.5rem !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}
.dropdown-label:hover{
  color: #6c5ce7 !important;
}

.editor-page-layout .PageTitleWrapper {
  width: auto !important;
}

.editor-bottom-button-container{
  padding: 32px;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.editor-bottom-button-container-closing {
  transform: translateY(200px); /* Move down by 100px */
  visibility: hidden; /* Become hidden */
  transition: transform 0.75s ease, visibility 0.75s ease;
}