.editor-footer {
  display: flex;
  justify-content: end;
}

.editor-page-layout .PageHeader {
  margin-top: 0.5rem;

  .Dropdown__v2 {
    border: none !important;
    border-radius: 0.75rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.06) !important;
      border: none !important;
      box-shadow: none !important;
    }

    &:focus {
      border: none !important;
      box-shadow: none !important;
    }

    .Dropdown__menu--primary {
      max-height: 20rem !important;
      border-radius: 1rem;

      .Dropdown__menu__list {
        max-height: 20rem !important;
      }
    }
  }

  .actions {
    .stack-dropdown .Dropdown__menu--primary {
      left: -120px;
    }

    .share-document {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      flex-shrink: 0;
      font-weight: 600;
      text-wrap: nowrap;
      gap: 4px;
      height: 32px;
      padding: 18px 10px;
      font-size: 14px;
      line-height: 16px;
      border-radius: 8px;
      color: rgb(26, 26, 26);
      background: transparent;
      border: 1px solid rgba(0, 0, 0, 0.08);
      box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.02),
        0px 1px 2px rgba(0, 0, 0, 0.04);

      &:hover {
        background-color: rgba(0, 0, 0, 0.06) !important;
        cursor: pointer;
      }

      .share-doc-modal {
        right: 0;
        top: 28px;
      }
    }
  }
}

.editor-page-layout .PageTitleWrapper {
  margin-left: 0.75rem;
  width: 100%;
}

.editor-page-layout .PageTitle {
  width: 100%;
}

.editor-page-layout .PageLayout__body__container .editor-container {
  width: 55%;
  margin: 0 auto;
}

.editor-heading {
  display: flex;
  justify-content: space-between;

  /* .Button__group {
    margin-right: 10px;
  } */

  .Dropdown__v2 {
    border: none !important;
    border-radius: 0.75rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.06) !important;
      border: none !important;
      box-shadow: none !important;
    }

    &:focus {
      border: none !important;
      box-shadow: none !important;
    }

    .Dropdown__header {
      display: flex;
      gap: 0.5rem;

      > div:first-child {
        display: flex;
      }

      svg path {
        fill: black;
      }
    }

    .Dropdown__menu--primary {
      max-height: 20rem !important;
      border-radius: 1rem;

      .Dropdown__menu__list {
        max-height: 20rem !important;
      }
    }
  }
}

.dropdown-label {
  padding: 0.5rem;
  /* color: #6c5ce7 !important; */
  padding: 0.5rem !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}
.dropdown-label:hover {
  color: #6c5ce7 !important;
}

.editor-page-layout .PageTitleWrapper {
  width: auto !important;
}

.editor-page-layout {
  .PageLayout__head {
    z-index: 0 !important;
    border: none !important;
  }
}

.editor-bottom-button-container {
  padding: 32px;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  position: relative;
}

.editor-bottom-button-container-closing {
  transform: translateY(200px); /* Move down by 100px */
  visibility: hidden; /* Become hidden */
  transition: transform 0.75s ease, visibility 0.75s ease;
  padding: 32px;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  display: none;
}

.stack-dropdown div svg:nth-of-type(2) {
  display: none;
}

.stack-dropdown .Dropdown__header svg[name="CaretDownNew"] {
  display: none !important;
}
