.table-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  height: 100%;
}

.dynamic-table {
  width: 100%;
  border-collapse: collapse;
}

.dynamic-table th {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 16px;
  background-color: #ffffff;
  color: #4a4a4a; 
  position: sticky;
  top: 0; 
  z-index: 2; 
}

.dynamic-table th:first-child {
  width: 675px;
}

.dynamic-table td {
  padding: 16px;
  font-size: 14px;
  color: #4a4a4a;
  border-bottom: 1px solid #e0e0e04d;
}

.table-row {
  height: auto; 
  min-height: 48px;
  transition: background-color 0.2s ease; 
  cursor: pointer;
}

.table-row:hover {
  background-color: #f0f0f0; 
  border-radius: 1.5rem;
}

.actions {
  display: flex;
  gap: 10px; 
  
}

.action-button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.action-button:hover {
  transform: scale(1.1); 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.delete-button {
  background-color: rgb(255, 255, 255, 0);
  border: 2px #e42222;
}

.delete-button:hover {
  background-color: #f306061e;
  svg{
      path{
          fill: #e42222;
      }
  }
}

.share-button {
  background-color: rgb(255, 255, 255, 0);
  color: white;
}

.share-button:hover {
  background-color: #5bee6318; 
  svg{
      path{
          fill: #00bf0a;
      }
  }
}

.icon {
  font-size: 18px;
}